###########################################################################
## Configuration File for Rooting RAxML Phylogenetic Trees               ##
## Requirements:                                                         ##
## A list of string fragments matching sequences identifiers of species  ##
## in the classification (including scaffold taxa) to be used for        ## 
## determining the most basal taxa in the orthogroups for rooting trees. ##
## Should be listed in decreasing order from older to younger lineages.  ##
## If the file is not provided using the "--rooting_order" option, trees ##
## will be rooted using the oldest lineage scaffold tax0n present in     ##
## each orthogroup.                                                      ##
########################################################################### 
## Author: Eric Wafula                                                   ## 
## Email: ekw10@psu.edu                                                  ##   
## Institution: Penn State University, Bio Dept, Claude dePamphilis Lab  ## 
## Date: 01-31-2015                                                      ##
###########################################################################

[DEFAULT TAXA]

###########################################################################
## Out Groups                                                            ##
###########################################################################
#
Physcomitrella patens=Phypa
Selaginella moellendorffii=Selmo
#
###########################################################################
## Basal Angiosperm                                                      ##
###########################################################################
#
Amborella trichopoda=Ambtr
#
###########################################################################
## Monocots                                                              ##
###########################################################################
#
Phoenix dactylifera=Phoda
Musa acuminata=Musac
Sorghum bicolor=Sorbi
Brachypodium distachyon=Bradi
Oryza sativa=Orysa
#
###########################################################################
## Basal Eudicots                                                        ##
###########################################################################
#
Aquilegia coerulea=Aquco
Nelumbo nucifera=Nelnu
#
###########################################################################
## Asterids                                                              ##
###########################################################################
#
Mimulus guttatus=Mimgu
Solanum tuberosum=Soltu
Solanum lycopersicum=Solly
#
###########################################################################
## Rosids                                                                ##
###########################################################################
#
Vitis vinifera=Vitvi
Medicago truncatula=Medtr
Glycine max=Glyma
Fragaria vesca=Frave
Populus trichocarpa=Poptr
Theobroma cacao=Theca
Carica papaya=Carpa
Thellungiella parvula=Thepa
Arabidopsis thaliana=Arath
#
###########################################################################








