###########################################################################
## Custom Configuration File for Single Copy Orthogroups Selection       ##
## Required:                                                             ##
## - Use -1 to represent any number of copies per species in orthogroup  ##
## - Use integer for maximum number of copies per species in orthogroup  ##
## - Please do not alter the order of the species in this file           ## 
###########################################################################
## Author: Eric Wafula                                                   ## 
## Email: ekw10@psu.edu                                                  ##   
## Institution: Penn State University, Bio Dept, Claude dePamphilis Lab  ## 
## Date: 01-31-2015                                                      ##
###########################################################################

[DEFAULT COPIES]

###########################################################################
## Rosids                                                                ##
###########################################################################
#
Arabidopsis thaliana=1
Thellungiella parvula=1
Carica papaya=1
Theobroma cacao=1
Populus trichocarpa=1
Fragaria vesca=1
Glycine max=1
Medicago truncatula=1	
Vitis vinifera=1
#
###########################################################################
## Asterids                                                              ##
###########################################################################
#
Solanum lycopersicum=1
Solanum tuberosum=1
Mimulus guttatus=1
#
###########################################################################
## Basal Eudicots                                                        ##
###########################################################################
#
Nelumbo nucifera=1
Aquilegia coerulea=1
#
###########################################################################
## Monocots                                                              ##
###########################################################################
#
Oryza sativa=1
Brachypodium distachyon=1
Sorghum bicolor=1
Musa acuminata=1
Phoenix dactylifera=1
#
###########################################################################
## Basal Angiosperm                                                      ##
###########################################################################
#
Amborella trichopoda=1
#
###########################################################################
## Out Groups                                                            ##
###########################################################################
#
Selaginella moellendorffii=-1
Physcomitrella patens=-1
#
###########################################################################
