###########################################################################
## Configuration File for PlantTribes Utilities                          ##
###########################################################################
## Author: Eric Wafula                                                   ## 
## Email: ekw10@psu.edu                                                  ##   
## Institution: Penn State University, Bio Dept, Claude dePamphilis Lab  ## 
# Date: 01-31-2015                                                       ##
###########################################################################

[External Utilities]

###########################################################################
## AssemblyPostProcesser                                                 ##
###########################################################################
# Path to ESTScan (ESTScan 2.1) executable if not in your PATH environment
# variable
estscan=ESTScan
#
# Path to TransDecoder (TransDecoder v2.0.1) executable if not in your
# PATH envionment variable
transdecoder=TransDecoder.LongOrfs
#
# Path to GenomeTools (GenomeTools 1.5.4 (2015-02-05)) executables if not
# in your PATH environment variable
genometools=gt
#
# Path to HMMSearch (HMMER >=3) executables if not in your PATH
# environment variable
hmmsearch=hmmsearch
#
# Path to cap3 executables if not in your PATH environment variable
cap3=cap3
#
###########################################################################
## GeneFamilyClassifier                                                  ##
###########################################################################
# Path to BLASTP (NCBI BLAST 2.2.29+) executable if not in your PATH
# environment variable
blastp=blastp
#
# Path to HMMScan (HMMER 3.1b1 (May 2013)) executable if not in your PATH
# environment variable
hmmscan=hmmscan
#
###########################################################################
## PhylogenomicsAnalysis                                                 ##
###########################################################################
# Path to MAFFT (MAFFT v7.215 (2014/12/17)) executable if not in your PATH
# environment variable
mafft=mafft
#
# Path to PASTA (PASTA downloaded 02/06/2015) executable if not in your PATH
pasta=/scratch/biotools/software/phylogenomics/pasta-code/pasta/run_pasta.py
#
# Path to trimAl (trimAl v1.4.rev8 build[2012-05-08]) executable if not in
# your PATH environment variable
trimal=trimal
#
# Path to RAxML (RAxML version 8.1.16 (January 19 2015)) executable if not
# in your PATH environment variable
raxml=raxmlHPC-PTHREADS-SSE3
#
# Path to FastTree (FastTree version 2.1.7 SSE3) executable if not in your PATH environment
# variable
fasttree=FastTreeMP
#
###########################################################################
